//! **************************************************************************
// Written by: Map P.20131013 on Fri Jan 03 19:36:56 2014
//! **************************************************************************

SCHEMATIC START;
COMP "vgared<1>" LOCATE = SITE "B4" LEVEL 1;
COMP "vgared<2>" LOCATE = SITE "C5" LEVEL 1;
COMP "clk" LOCATE = SITE "E3" LEVEL 1;
COMP "vgared<3>" LOCATE = SITE "A4" LEVEL 1;
COMP "led2" LOCATE = SITE "R8" LEVEL 1;
COMP "hsync" LOCATE = SITE "B11" LEVEL 1;
COMP "led3" LOCATE = SITE "T6" LEVEL 1;
COMP "vgagreen<0>" LOCATE = SITE "C6" LEVEL 1;
COMP "vgagreen<1>" LOCATE = SITE "A5" LEVEL 1;
COMP "vsync" LOCATE = SITE "B12" LEVEL 1;
COMP "vgagreen<2>" LOCATE = SITE "B6" LEVEL 1;
COMP "vgagreen<3>" LOCATE = SITE "A6" LEVEL 1;
COMP "vgablue<0>" LOCATE = SITE "B7" LEVEL 1;
COMP "vgablue<1>" LOCATE = SITE "C7" LEVEL 1;
COMP "led0" LOCATE = SITE "T8" LEVEL 1;
COMP "vgablue<2>" LOCATE = SITE "D7" LEVEL 1;
COMP "led1" LOCATE = SITE "V9" LEVEL 1;
COMP "vgablue<3>" LOCATE = SITE "D8" LEVEL 1;
COMP "vgared<0>" LOCATE = SITE "A3" LEVEL 1;
PIN charrom1/Mram_ram_pins<63> = BEL "charrom1/Mram_ram" PINNAME CLKARDCLKU;
PIN charrom1/Mram_ram_pins<62> = BEL "charrom1/Mram_ram" PINNAME CLKARDCLKL;
TIMEGRP pixelclock1_clkout1 = BEL "slow_clock" BEL "led2" BEL "led3" BEL
        "charaddress_0" BEL "charaddress_2" BEL "charaddress_1" BEL
        "first_card_of_row_3" BEL "first_card_of_row_4" BEL
        "first_card_of_row_5" BEL "first_card_of_row_6" BEL
        "first_card_of_row_7" BEL "vsync" BEL "card_number_0" BEL
        "card_number_1" BEL "card_number_2" BEL "card_number_3" BEL
        "card_number_4" BEL "card_number_5" BEL "card_number_6" BEL
        "card_number_7" BEL "charaddress_9" BEL "charaddress_10" BEL
        "charaddress_6" BEL "charaddress_8" BEL "charaddress_7" BEL
        "charaddress_3" BEL "charaddress_5" BEL "charaddress_4" BEL
        "counter_0" BEL "counter_1" BEL "counter_2" BEL "counter_3" BEL
        "counter_4" BEL "counter_5" BEL "counter_6" BEL "counter_7" BEL
        "counter_8" BEL "counter_9" BEL "counter_10" BEL "counter_11" BEL
        "counter_12" BEL "counter_13" BEL "counter_14" BEL "counter_15" BEL
        "counter_16" BEL "counter_17" BEL "counter_18" BEL "counter_19" BEL
        "counter_20" BEL "counter_21" BEL "counter_22" BEL "counter_23" BEL
        "counter_24" BEL "xcounter_0" BEL "xcounter_1" BEL "xcounter_2" BEL
        "xcounter_3" BEL "xcounter_4" BEL "xcounter_5" BEL "xcounter_6" BEL
        "xcounter_7" BEL "xcounter_8" BEL "xcounter_9" BEL "xcounter_10" BEL
        "xcounter_11" BEL "ycounter_1" BEL "ycounter_2" BEL "ycounter_3" BEL
        "ycounter_4" BEL "ycounter_5" BEL "ycounter_6" BEL "ycounter_7" BEL
        "ycounter_8" BEL "ycounter_9" BEL "ycounter_10" BEL
        "pixelclock1/clkout2_buf" BEL "displayy_3" BEL "displayy_4" BEL
        "displayy_5" BEL "displayy_6" BEL "displayy_7" BEL "displayy_8" BEL
        "displayy_9" BEL "displayx_0" BEL "displayx_1" BEL "displayx_2" BEL
        "hsync" BEL "vgagreen_0" BEL "vgagreen_1" BEL "vgagreen_2" BEL
        "vgagreen_3" BEL "vgared_0" BEL "vgared_1" BEL "vgared_2" BEL
        "vgared_3" BEL "vgablue_0" BEL "vgablue_1" BEL "vgablue_2" BEL
        "vgablue_3" BEL "first_card_of_row_0" BEL "displayy_0" BEL
        "ycounter_0" BEL "first_card_of_row_1" BEL "displayy_1" BEL
        "first_card_of_row_2" BEL "displayy_2" PIN
        "charrom1/Mram_ram_pins<63>" PIN "charrom1/Mram_ram_pins<62>";
PIN pixelclock1/mmcm_adv_inst_pins<2> = BEL "pixelclock1/mmcm_adv_inst"
        PINNAME CLKIN1;
TIMEGRP sys_clk_pin = PIN "pixelclock1/mmcm_adv_inst_pins<2>";
TS_sys_clk_pin = PERIOD TIMEGRP "sys_clk_pin" 100 MHz HIGH 50%;
TS_pixelclock1_clkout1 = PERIOD TIMEGRP "pixelclock1_clkout1" TS_sys_clk_pin *
        1.925 HIGH 50%;
SCHEMATIC END;

