# These files are ignored by git

# object files
*.o

# backup files
*.*~

# bin directory
bin/*

# files generated using make
src/KICKUP.M65
src/*.prg
src/diskmenu_c000.bin
src/tests/*.prg
src/tools/*.prg
src/utilities/*.prg
src/utilities/userwarning.c
src/utilities/mega65_config.lbl
src/utilities/*.label
src/utilities/version.h
src/monitor/gen_dis
src/tools/ftphelper.c
src/hyppo/HICKUP.*
exomized.prg
# don't include iomap.txt here, we like to have it version controlled
# please commit a new iomap.txt when it was changed by your core changes
# see issue #574
# iomap.txt

# ophis
src/*.list
src/*.map
src/tests/*.list
src/tests/*.map
src/tools/*.list
src/tools/*.map
src/utilities/*.list
src/utilities/*.map
kickstart.list
kickstart.map
monitor.list
monitor.map

# generated vhdl
src/verilog/monitor_mem.v
src/vhdl/charrom.vhdl
src/vhdl/colourram.vhdl
src/vhdl/hyppo.vhdl
src/vhdl/kickstart.vhdl
src/vhdl/oskmem.vhdl
src/vhdl/shadowram.vhdl
src/vhdl/shadowram-a100t.vhdl
src/vhdl/shadowram-a200t.vhdl
src/vhdl/termmem.vhdl
src/vhdl/uart_monitor.vhdl
src/vhdl/uart_monitor.vhdl.tmp
src/vhdl/version.vhdl


# generated ASM
src/version.txt
src/version.a65
src/version.asm
src/monitor/monitor_dis.a65
src/monitor/version.a65
src/utilities/version.s

# executables
src/tools/bin2c
src/tools/etherkick/etherkick
src/tools/etherload/etherload
src/tools/format_banner
src/tools/hotpatch/hotpatch
src/tools/mega65_ftp
src/tools/mempacker/mempacker
src/tools/mempacker/mempacker_new
src/tools/mempacker/mempacker_v
src/tools/monitor_load
src/tools/monitor_save
src/tools/on_screen_keyboard_gen
src/tools/pngprepare/pngprepare
src/tools/utilpacker/utilpacker
src/tools/hyppotest
src/tools/merge-issue
cpu_test

# outputs
sdcard-files/*

# files generated during compilation using ./compile.sh script
build-logs/compile-*.log
bit*.bit
isework/container.bit

# files generated by ISE during compilation using ISE
isework/container_*

# files generated by src/utilities/getsdcardinfo
sdcardinfo-*

# files generated by Vivado
vivado/*.runs
vivado/*.srcs
vivado/*.cache
vivado/*.hw
*.log
*.jou
*.timing.txt

# files generated by vivado/*_gen.tcl
vivado/*.xpr

# fetched by release-build
release-build/mega65-release-prep
release-build/mega65-tools
reltest/

# py tests
tests/vunit_out

# hyppotest outputs
FAIL.*
PASS.*
