[submodule "src/mega65-fdisk"]
	path = src/mega65-fdisk
	url = https://github.com/MEGA65/mega65-fdisk.git
[submodule "cc65"]
	path = cc65
	url = git@github.com:cc65/cc65.git
[submodule "cbmconvert"]
	path = cbmconvert
	url = git@github.com:sasq64/cbmconvert.git
[submodule "Ophis"]
	path = Ophis
	url = git@github.com:gardners/Ophis.git
