[submodule "cc65"]
	path = cc65
	url = https://github.com/cc65/cc65.git
[submodule "cbmconvert"]
	path = cbmconvert
	url = https://github.com/sasq64/cbmconvert.git
[submodule "Ophis"]
	path = Ophis
	url = https://github.com/gardners/Ophis.git
[submodule "src/mega65-fdisk"]
	path = src/mega65-fdisk
	url = https://github.com/MEGA65/mega65-fdisk.git

[submodule "ghdl"]
	path = ghdl
	url = https://github.com/ghdl/ghdl.git
