net "CLK_IN" loc = "E3" | IOSTANDARD = "LVCMOS33"; #100MHz clock on Nexys4 board
net "CLK_IN" TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 100MHz HIGH 50%;

#net "irq" loc = "U8"  | IOSTANDARD = "LVCMOS33"; #SW1
#net "reset" loc = "R7" | IOSTANDARD = "LVCMOS33"; #SW2

## VGA Connector
NET "vgaRed<0>"                LOC = "A3"      | IOSTANDARD = "LVCMOS33";              #Bank = 35, Pin name = IO_L8N_T1_AD14N_35,                                      Sch name = VGA_R0
NET "vgaRed<1>"                LOC = "B4"      | IOSTANDARD = "LVCMOS33";              #Bank = 35, Pin name = IO_L7N_T1_AD6N_35,                                       Sch name = VGA_R1
NET "vgaRed<2>"                LOC = "C5"      | IOSTANDARD = "LVCMOS33";              #Bank = 35, Pin name = IO_L1N_T0_AD4N_35,                                       Sch name = VGA_R2
NET "vgaRed<3>"                LOC = "A4"      | IOSTANDARD = "LVCMOS33";              #Bank = 35, Pin name = IO_L8P_T1_AD14P_35,                                      Sch name = VGA_R3
NET "vgaBlue<0>"               LOC = "B7"      | IOSTANDARD = "LVCMOS33";              #Bank = 35, Pin name = IO_L2P_T0_AD12P_35,                                      Sch name = VGA_B0
NET "vgaBlue<1>"               LOC = "C7"      | IOSTANDARD = "LVCMOS33";              #Bank = 35, Pin name = IO_L4N_T0_35,                                            Sch name = VGA_B1
NET "vgaBlue<2>"               LOC = "D7"      | IOSTANDARD = "LVCMOS33";              #Bank = 35, Pin name = IO_L6N_T0_VREF_35,                                       Sch name = VGA_B2
NET "vgaBlue<3>"               LOC = "D8"      | IOSTANDARD = "LVCMOS33";              #Bank = 35, Pin name = IO_L4P_T0_35,                                            Sch name = VGA_B3
NET "vgaGreen<0>"              LOC = "C6"      | IOSTANDARD = "LVCMOS33";              #Bank = 35, Pin name = IO_L1P_T0_AD4P_35,                                       Sch name = VGA_G0
NET "vgaGreen<1>"              LOC = "A5"      | IOSTANDARD = "LVCMOS33";              #Bank = 35, Pin name = IO_L3N_T0_DQS_AD5N_35,                           Sch name = VGA_G1
NET "vgaGreen<2>"              LOC = "B6"      | IOSTANDARD = "LVCMOS33";              #Bank = 35, Pin name = IO_L2N_T0_AD12N_35,                                      Sch name = VGA_G2
NET "vgaGreen<3>"              LOC = "A6"      | IOSTANDARD = "LVCMOS33";              #Bank = 35, Pin name = IO_L3P_T0_DQS_AD5P_35,                           Sch name = VGA_G3
NET "Hsync"                    LOC = "B11"     | IOSTANDARD = "LVCMOS33";              #Bank = 15, Pin name = IO_L4P_T0_15,                                            Sch name = VGA_HS
NET "Vsync"                    LOC = "B12"     | IOSTANDARD = "LVCMOS33";              #Bank = 15, Pin name = IO_L3N_T0_DQS_AD1N_15,                           Sch name = VGA_BVS

NET "led0"                   LOC = "T8"      | IOSTANDARD = "LVCMOS33";              #Bank = 34, Pin name = IO_L24N_T3_34,                                           Sch name = LED0
NET "led1"                   LOC = "V9"      | IOSTANDARD = "LVCMOS33";              #Bank = 34, Pin name = IO_L21N_T3_DQS_34,                                       Sch name = LED1
NET "led2"                   LOC = "R8"      | IOSTANDARD = "LVCMOS33";              #Bank = 34, Pin name = IO_L24P_T3_34,                                           Sch name = LED2
NET "led3"                   LOC = "T6"      | IOSTANDARD = "LVCMOS33";              #Bank = 34, Pin name = IO_L23N_T3_34,                                           Sch name = LED3

NET "RsRx"                             LOC = "C4"      | IOSTANDARD = "LVCMOS33";              #Bank = 35, Pin name = IO_L7P_T1_AD6P_35,                                       Sch name = UART_TXD_IN
NET "UART_TXD"                          LOC = "D4"      | IOSTANDARD = "LVCMOS33";              #Bank = 35, Pin name = IO_L11N_T1_SRCC_35,                                      Sch name = UART_RXD_OUT



## Switches
NET "SW<0>"                     LOC = "U9"      | IOSTANDARD = "LVCMOS33";              #Bank = 34, Pin name = IO_L21P_T3_DQS_34,                                       Sch name = SW0
NET "SW<1>"                     LOC = "U8"      | IOSTANDARD = "LVCMOS33";              #Bank = 34, Pin name = IO_25_34,                                                        Sch name = SW1
NET "SW<2>"                     LOC = "R7"      | IOSTANDARD = "LVCMOS33";              #Bank = 34, Pin name = IO_L23P_T3_34,                                           Sch name = SW2
NET "SW<3>"                     LOC = "R6"      | IOSTANDARD = "LVCMOS33";              #Bank = 34, Pin name = IO_L19P_T3_34,                                           Sch name = SW3
NET "SW<4>"                     LOC = "R5"      | IOSTANDARD = "LVCMOS33";              #Bank = 34, Pin name = IO_L19N_T3_VREF_34,                                      Sch name = SW4
NET "SW<5>"                     LOC = "V7"      | IOSTANDARD = "LVCMOS33";              #Bank = 34, Pin name = IO_L20P_T3_34,                                           Sch name = SW5
NET "SW<6>"                     LOC = "V6"      | IOSTANDARD = "LVCMOS33";              #Bank = 34, Pin name = IO_L20N_T3_34,                                           Sch name = SW6
NET "SW<7>"                     LOC = "V5"      | IOSTANDARD = "LVCMOS33";              #Bank = 34, Pin name = IO_L10P_T1_34,                                           Sch name = SW7
NET "SW<8>"                     LOC = "U4"      | IOSTANDARD = "LVCMOS33";              #Bank = 34, Pin name = IO_L8P_T1-34,                                            Sch name = SW8
NET "SW<9>"                     LOC = "V2"      | IOSTANDARD = "LVCMOS33";              #Bank = 34, Pin name = IO_L9N_T1_DQS_34,                                        Sch name = SW9
NET "SW<10>"                    LOC = "U2"      | IOSTANDARD = "LVCMOS33";              #Bank = 34, Pin name = IO_L9P_T1_DQS_34,                                        Sch name = SW10
NET "SW<11>"                    LOC = "T3"      | IOSTANDARD = "LVCMOS33";              #Bank = 34, Pin name = IO_L11N_T1_MRCC_34,                                      Sch name = SW11
NET "SW<12>"                    LOC = "T1"      | IOSTANDARD = "LVCMOS33";              #Bank = 34, Pin name = IO_L17N_T2_34,                                           Sch name = SW12
NET "SW<13>"                    LOC = "R3"      | IOSTANDARD = "LVCMOS33";              #Bank = 34, Pin name = IO_L11P_T1_SRCC_34,                                      Sch name = SW13
NET "SW<14>"                    LOC = "P3"      | IOSTANDARD = "LVCMOS33";              #Bank = 34, Pin name = IO_L14N_T2_SRCC_34,                                      Sch name = SW14
NET "SW<15>"                    LOC = "P4"      | IOSTANDARD = "LVCMOS33";              #Bank = 34, Pin name = IO_L14P_T2_SRCC_34,                                      Sch name = SW15

NET "BTN<4>"                            LOC = "E16"     | IOSTANDARD = "LVCMOS33";              #Bank = 15, Pin name = IO_L11N_T1_SRCC_15, Sch name = BTNC
NET "BTN<2>"                            LOC = "F15"     | IOSTANDARD = "LVCMOS33";              #Bank = 15, Pin name = IO_L14P_T2_SRCC_15, Sch name = BTNU
NET "BTN<3>"                            LOC = "T16"     | IOSTANDARD = "LVCMOS33";              #Bank = CONFIG, Pin name = IO_L15N_T2_DQS_DOUT_CSO_B_14, Sch name = BTNL
NET "BTN<0>"                            LOC = "R10"     | IOSTANDARD = "LVCMOS33";              #Bank = 14, Pin name = IO_25_14, Sch name = BTNR
NET "BTN<1>"                            LOC = "V10"     | IOSTANDARD = "LVCMOS33";              #Bank = 14, Pin name = IO_L21P_T3_DQS_14, Sch name = BTND

## 7 segment display
NET "SSEG_CA<0>"                        LOC = "L3"      | IOSTANDARD = "LVCMOS33";              #Bank = 34, Pin name = IO_L2N_T0_34, Sch name = CA
NET "SSEG_CA<1>"                        LOC = "N1"      | IOSTANDARD = "LVCMOS33";              #Bank = 34, Pin name = IO_L3N_T0_DQS_34, Sch name = CB
NET "SSEG_CA<2>"                        LOC = "L5"      | IOSTANDARD = "LVCMOS33";              #Bank = 34, Pin name = IO_L6N_T0_VREF_34, Sch name = CC
NET "SSEG_CA<3>"                        LOC = "L4"      | IOSTANDARD = "LVCMOS33";              #Bank = 34, Pin name = IO_L5N_T0_34, Sch name = CD
NET "SSEG_CA<4>"                        LOC = "K3"      | IOSTANDARD = "LVCMOS33";              #Bank = 34, Pin name = IO_L2P_T0_34, Sch name = CE
NET "SSEG_CA<5>"                        LOC = "M2"      | IOSTANDARD = "LVCMOS33";              #Bank = 34, Pin name = IO_L4N_T0_34, Sch name = CF
NET "SSEG_CA<6>"                        LOC = "L6"      | IOSTANDARD = "LVCMOS33";              #Bank = 34, Pin name = IO_L6P_T0_34, Sch name = CG

NET "SSEG_CA<7>"                                LOC = "M4"      | IOSTANDARD = "LVCMOS33";              #Bank = 34, Pin name = IO_L16P_T2_34, Sch name = DP

NET "SSEG_AN<0>"                        LOC = "N6"      | IOSTANDARD = "LVCMOS33";              #Bank = 34, Pin name = IO_L18N_T2_34, Sch name = AN0
NET "SSEG_AN<1>"                        LOC = "M6"      | IOSTANDARD = "LVCMOS33";              #Bank = 34, Pin name = IO_L18P_T2_34, Sch name = AN1
NET "SSEG_AN<2>"                        LOC = "M3"      | IOSTANDARD = "LVCMOS33";              #Bank = 34, Pin name = IO_L4P_T0_34, Sch name = AN2
NET "SSEG_AN<3>"                        LOC = "N5"      | IOSTANDARD = "LVCMOS33";              #Bank = 34, Pin name = IO_L13_T2_MRCC_34, Sch name = AN3
NET "SSEG_AN<4>"                        LOC = "N2"      | IOSTANDARD = "LVCMOS33";              #Bank = 34, Pin name = IO_L3P_T0_DQS_34, Sch name = AN4
NET "SSEG_AN<5>"                        LOC = "N4"      | IOSTANDARD = "LVCMOS33";              #Bank = 34, Pin name = IO_L16N_T2_34, Sch name = AN5
NET "SSEG_AN<6>"                        LOC = "L1"      | IOSTANDARD = "LVCMOS33";              #Bank = 34, Pin name = IO_L1P_T0_34, Sch name = AN6
NET "SSEG_AN<7>"                        LOC = "M1"      | IOSTANDARD = "LVCMOS33";              #Bank = 34, Pin name = IO_L1N_T034, Sch name = AN7
